/*input[name=uname], input[type=password]{
    color: white;
    background-color: #337DAB;
}
select[name=kasta]{
	color: white;
    background-color: #337DAB;
}
button[type=submit] {
    background-color: #337DAB;
    color: white;
}*/